body{
	margin:0;
	padding:0;
	list-stylenone;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("/static/img/background.jpg");
	

}
html{
	height: 100%;
}



div{
 height: 130px;
 width : 35%;
 color: black;
 font-size: 30px;
 font-family: 'Operator Mono', 'Source Sans Pro', Menlo, Monaco, Consolas, Courier New, monospace;
 text-shadow: 2px 2px 5px black;
 border-bottom: double;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  width:100%;

}


li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  height: 80px;
}
.active {
  background-color: #3b5998;
}


