body{
	margin:0;
	padding:0;
	list-style:none;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("/static/img/background.jpg");


}
img {
  max-width: 100%;
  height: auto;
}
html{
	height: 100%;
}
h1{
color: white;
width: 40%;
background-color:black;
border-color: black;
border-radius: 10px;
    font-size: 20px;
}
h2{
color: black;
font-family: arial, sans-serif;
}

h7{
color: black;
}
h3{
color: black;
font-family: arial, sans-serif;
}
h4{
color: black;
font-family: arial, sans-serif;
}
h5{
color: black;
font-family: arial, sans-serif;
}



div{
 width : 35%;
 color: black;
border-style: solid;
    background-color: whitesmoke;
    border-radius: 15px;
    height: 400px;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  width:100%;

}


li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  height: 50px;
}
.active {
  background-color: Grey;
}

a{
background-color:black;
font-size:20px;
border-radius:5px;
text-decoration: none;
}
table {
  width:90%;
    border-radius: 60px;
    border-style: solid;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
    border-radius: 20px;
    border-style: none;
    font-size: 20px;
    font-family: 'Operator Mono', 'Source Sans Pro', Menlo, Monaco, Consolas, Courier New, monospace;
    text-shadow: 2px 2px 5px black;
}
th, td {
  padding: 15px;
  text-align: left;
    border-radius: 20px;
    border-style: solid;
}
#t01 tr:nth-child(even) {
  background-color: Grey;
        border-radius: 20px;
    border-style: solid;
}
#t01 tr:nth-child(odd) {
 background-color: white;
    border-radius: 20px;
    border-style: solid;
}
#t01 th {
  background-color: black;
  color: white;
    border-radius: 20px;
    border-style: solid;
}
table {
    border-collapse: separate;
    border-spacing: 0 10px;
    margin-top: -10px; 
}
td {
    border: solid 1px #000;
    border-style: solid none;
    padding: 10px;
    background-color:  #a6a6a6;
}
td:first-child {
    border-left-style: solid;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
td:last-child {
    border-right-style: solid;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.div2{

  width: 100%;
  background-color: white;
  color: white;
  text-align: center;
  height: 70px;

}